.cardStyle{
 /* width: 350px; */
 display: inline-block;
 background-color: black;
 color: #ff0000;
 box-shadow: 10px 10px 15px #ff0000;

 
     font-family: 'Montserrat',
     sans-serif;

}

.card-titlePOS{
    padding-top: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
}

.card-textPOS{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.IconPOS{
    /* display: inline-block; */
    text-align: center;
    padding-top: 10px;
}