.MainSideBar{
    display: flex;
    background-color: black;
}
.SideBar{
    position: fixed;
    /* background-color: rgb(0, 0, 0); */
    height: 630px;
    width: 300px;
    /* box-shadow: 0 0 8px 5px #ff0000; */

}

.SideBar2 {
    position: relative;
    margin-left: 360px;
    /* background-color: rgb(0, 0, 0); */
    /* height: 900px; */
    width: 800px;
}

.RightBar{
    margin-left: 80%;
        position: fixed;
        /* background-color: rgb(0, 0, 0); */
    /* box-shadow: 0 0 8px 5px #ff0000; */
        height: 630px;
        width: 300px;
}